.favourite {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.link {
    text-decoration: none;
    color: white;
}

.button {
    margin-top: 15px;
    text-align: center;
}

.buttonContainer{
    text-align: center;
    justify-content: center;
    margin-top: 20px;
}