.home {
    height: 950px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container {
    display: flex;
    flex-direction: row;
    height: 950px;
    justify-content: center;
    gap: 80px;
    margin-top:30px;
}

h1  {
    text-align: center;
    padding-top: 20px;

}

.cards {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 950px;
    overflow: scroll;
}

.link {
    text-decoration: none;
    color: white;    
}

.button {
    margin-top: 15px;
}